body {
  font-family: 'Poppins', sans-serif;
  }
  section {
    background-color: rgb(186, 178, 178);   
  }
  .hero {
    background-image: url(./images/picturecoding.jpg);
    width: 100%;
    height: 1000px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 40px;
  }
  footer {
    height: 300px;
    background-color: #1c1d25;
    color: white;
    padding-left: 20px;
  }
  .sentence {
    text-align: right;
    padding-right: 20px;
    padding-top: 60px;
  }
  .stack {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
  }
  nav{
    display: flex;
    justify-content: space-between;
  }
  ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 20px;
  }
  ul.show {
    display: block;
  }
  li {
    text-decoration: none;
    font-size: 26px;
  }
  h1 {
    font-size: 80px;
    font-family: 'Arizonia', cursive;
    margin: 0;
  }
  h2 {
    font-size: 40px;
  }
  h3, h4, h5, h6 {
    font-size: 20px;
  }
  p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
  }
  .par {
    font-size: 8px;
  }
  .subtext {
    font-size: 18px;
    font-weight: 300;
  }
  .hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
  }
  .button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
  }
  .button:hover {
    background-color: grey;
  }
  .button:active {
    background-color: yellow;
    color: blue;
  }
  .socials {
    padding-bottom: 200px;
    margin: 30px;
  }
  .social:hover {
    background-color: coral;
  }
  .sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
  }
  .sub-section-project {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
  }
  .headshot {
    width: 250px;
    border-radius: 150px;
  }
  .headshot-container {
    display: flex;
    align-items: center;
  }
  .project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(155, 152, 152);
    margin: 10px;
  }
  .project-card img {
    opacity: 0.8;
    cursor: pointer;
  }
  .project-card img:hover {
    opacity: 1;
  }
  .project-container {
    display: flex;
    justify-content: space-around;
  }
  .project-container:after {
    content: "";
    display: table;
    clear: both;
  }
  .container {
    position: relative;
    display: none;
  }
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    /*cursor: pointer;*/
  }
  @media only screen and (max-width: 1000px) {
    .project-container {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 50px;
  }
  .project-link {
    text-decoration: none;
    color: #ef744b
  }
  a {
    text-decoration: none;
    color: white;
  }
  .hamburger {
    display: none;
  }
  .hamburger:focus {
    outline: 0;
  }
  @media only screen and (max-width: 1000px) {
    .hamburger {
      display: block;
      border: 0;
      background-color: transparent;
      color: white;
      font-size: 30px;
      margin: 20px;
      align-self: flex-end;
  }
  .ul {
    display: none;
    background-color: #575968;
    margin: 0;
  }
  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #575968;
  }
  .logo{
    display: none;
  }
  .scrollToTopBtn {
    position: fixed;
   bottom: 80px;
   right: 40px;
   z-index: 9999;
   width: 30px;
   height: 30px;
   text-align: center;
   line-height: 30px;
   background: #f5f5f5;
   color: #444;
   cursor: pointer;
   border-radius: 2px;
   display: none;
  }
  .scrollToTopBtn-show {
    display: block;
  }
  .stack {
    display: inline-block;
  }
  }